<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width"/>
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="../css/style.css" inline>
</head>
<body>

<table class="body">
  <tr>
    <td>
      <center>



<!-- Header link container -->
        <spacer size="13"></spacer>
        <container class="header-container">
          <row>
            <columns>
              <p class="text-right "><a class="link-site" href="#" target="_blank">Посмотреть веб версию</a></p>
            </columns>
          </row>
        </container>

<!-- Header container (main) -->
        <container class="header">
          <spacer size="40"></spacer>
          <row>
            <columns>
              <img src="../img/logo.png" alt="logo" />
            </columns>
          </row>
          <spacer size="47"></spacer>
          <row>
            <columns>
              <h1 class="main-heading text-left">Узнай свою роль в команде!</h1>
            </columns>
          </row>
          <spacer size="28"></spacer>
          <row>
            <columns>
              <p class="main-sub-heading header-text" large="8">
                Специально для вас, айтишники, мы подготовили небольшой тест, который расскажет о вашей роли в команде. Энергичный шейкер или вдумчивый мыслитель? Может быть, любопытный исследователь?
              </p>
            </columns>
            <columns large="4">
            </columns>
          </row>
          <spacer size="30"></spacer>
        </container>

<!-- Block with items -->
        <container>
          <row class="collapse">
            <columns class="bg-items item1" valign="middle">
              <spacer size="60"></spacer>
              <center>
                <img src="../img/calendar.png" alt="" />
              </center>
              <spacer size="20"></spacer>
              <row>
                <columns>
                  <row>
                    <h2 class="text-center title-item">Календарь</h2>
                  </row>
                </columns>
              </row>
            </columns>
            <columns class="item-active" valign="middle">
              <spacer size="60"></spacer>
              <center>
                <img src="../img/game.png" alt="" />
              </center>
              <spacer size="40"></spacer>
              <row>
                <columns>
                  <row>
                    <h2 class="text-center title-item">Xbox One 1 Tb Elite</h2>
                  </row>
                </columns>
              </row>
            </columns>
            <columns class="bg-items" valign="middle">
              <spacer size="60"></spacer>
              <center>
                <img src="../img/pullover.png" alt="" />
              </center>
              <spacer size="37"></spacer>
              <row>
                <columns>
                  <row>
                    <h2 class="text-center title-item">Свитшот с шаманом</h2>
                  </row>
                </columns>
              </row>
            </columns>
          </row>
        </container>

<!-- Block with button "win" -->
        <container>
          <row class="collapse">
            <columns class="hide-block" large="4">
              <!-- <button class="btn expanded" href="#">Хочу выиграть!</button> -->
            </columns>
            <columns large="4" valign="top">
              <center>
                <button class="btn" href="#">Хочу выиграть!</button>
              </center>
            </columns>
            <columns  large="4">
              <!-- <button class="btn expanded" href="#">Хочу выиграть!</button> -->
            </columns>
          </row>
          <spacer size="15"></spacer>
        </container>

<!-- Block with special proposition -->
        <container class="sale-block">
          <row>
              <div class="strip"></div>
          </row>
          <spacer size="25"></spacer>
          <row>
            <columns class="sale-item" small="1" large="1">
              <span class="sale">10%</span>
            </columns>
            <columns class="sale-item" small="1" large="0"></columns>
            <columns class="sale-item" small="10" large="11">
              <p class="sale-text">Добавление новых пользователей</p>
            </columns>
          </row>
          <row>
            <columns class="sale-item" small="1" large="1">
               <span class="sale">15%</span>
            </columns>
            <columns class="sale-item" small="1" large="0"></columns>
            <columns class="sale-item" small="10" large="11">
              <p class="sale-text">Переход на старшую редакцию продукта (переход на редакцию Enterprise Ideco ICS, переход на редакцию с технологиями Лаборатории Касперского)</p>
            </columns>
          </row>
          <row>
            <columns class="sale-item" small="1" large="1">
              <span class="sale">25%</span>
            </columns>
            <columns class="sale-item" small="1" large="0"></columns>
            <columns class="sale-item" small="10" large="11">
              <p class="sale-text">Стандартное продление</p>
            </columns>
          </row>
          <row>
            <columns class="sale-item" small="1" large="1">
              <span class="sale">5%</span>
            </columns>
            <columns class="sale-item" small="1" large="0"></columns>
            <columns class="sale-item" small="10" large="11">
              <p class="sale-text">Позднее продление</p>
            </columns>
          </row>
          <spacer size="14"></spacer>
          <row>
              <div class="strip"></div>
          </row>
        </container>

<!-- Block sale -->
        <container>
          <spacer size="30"></spacer>
          <row>
            <columns>
              <h2 class="main-heading">Скидки для текущих клиентов:</h2>
            </columns>
          </row>
          <row>
            <columns class="sale-item" small="1" large="1">
              <span class="sale">10%</span>
            </columns>
            <columns class="sale-item" small="1" large="0"></columns>
            <columns class="sale-item" small="10" large="11">
                <p class="sale-text"><a class="text-link" href="#">Добавление новых пользователей</a></p>
            </columns>
          </row>
          <row>
            <columns class="sale-item" small="1" large="1">
              <span class="sale">15%</span>
            </columns>
            <columns class="sale-item" small="1" large="0"></columns>
            <columns class="sale-item" small="10" large="11">
              <p class="sale-text"><a class="text-link" href="#">Переход на старшую редакцию продукта (переход на редакцию Enterprise Ideco ICS, переход на редакцию с технологиями Лаборатории Касперского)</a></p>
            </columns>
          </row>
          <row>
            <columns class="sale-item" small="1" large="1">
              <span class="sale">25%</span>
            </columns>
            <columns class="sale-item" small="1" large="0"></columns>
            <columns class="sale-item" small="10" large="11">
              <p class="sale-text"><a class="text-link" href="#">Стандартное продление</a></p>
            </columns>
          </row>
          <row>
            <columns class="sale-item" small="1" large="1">
              <span class="sale">5%</span>
            </columns>
            <columns class="sale-item" small="1" large="0"></columns>
            <columns class="sale-item" small="10" large="11">
              <p class="sale-text"><a class="text-link" href="#">Позднее продление</a></p>
            </columns>
          </row>
          <spacer size="10"></spacer>
          <row class="collapse">
            <columns class="sale-item" small="0" large="4" class="line" valign="top"><hr/></columns>
            <columns class="sale-item" small="12" large="4" class="btn-up" valign="top">
              <center>
                <button class="btn expanded" href="#" target="_blank">Call2Action</button>
              </center>
            </columns>
            <columns class="sale-item" small="0" large="4" class="line" valign="top"><hr/></columns>
          </row>
        </container>


        <spacer size="15"></spacer>

<!-- Block invite -->        
        <container>
          <row>
            <columns small="1" large="1" valign="middle"></columns>
            <columns small="12" large="9" valign="middle">
            <spacer size="40"></spacer>
            <center>
              <h2 class="text-center title-event main-heading">Приглашаем на вебинар</h2>
              <p class="text-center description-text text-event main-sub-heading">Импортозамещение в России: есть ли реальные альтернативы иностранному ПО?</p>
            </center>
            </columns>
            <columns small="1" large="1" valign="middle"></columns>
          </row>
          <row>
            <columns>
              <h3 class="text-center">22 февраля 2016, 11:15(Мкс)</h3>
              <p class="text-center text-description text-program">Основная часть вебинара будет касаться практической стороны вопроса – обсуждения возможностей процесса миграции с зарубежных UTM-решений на Ideco ICS и сравнения возможностей нашего решения с конкурирующими.</p>
            </columns>
          </row>
          <row>
            <columns class="line" valign="middle"></columns>
            <columns class="btn-up" valign="middle">
              <center>
                <button class="btn" href="#" target="_blank">Записаться</button>
              </center>
            </columns>
            <columns class="line" valign="middle"></columns>
          </row>
          <spacer size="20"></spacer>
        </container>

<!-- Block footer -->        
        <container class="footer">
          <row>
            <!-- <columns small="1" large="0"></columns> -->
            <columns small="11" large="12">
              <spacer size="20"></spacer>
              <h4 class="footer-title">С уважением, компания "Айдеко"</h4>
              <p class="footer-text">Тел.: <a class="footer-link-tel" href="tel:88005553340">8 800 555-33-40</a>,<a class="footer-link-tel" href="tel:+74959873270">+7 (495) 987-32-70</a></p>
              <p class="footer-text">E-mail: <a href="mailto:quiz@indeco.ru">quiz@indeco.ru</a></p>
              <p class="footer-text"><a href="https://quiz.ideco.ru">quiz.ideco.ru</a></p>
            </columns>
          </row>
          <!-- <spacer size="15"></spacer> -->
        </container>
        

<!-- Block unsubscribe -->

        <container class="footer-info-block">
          <spacer size="15"></spacer>
          <row>
            <columns>
              <p class="text-center footer-info">Вы можете отказаться от получения рассылок на странице <a href="">ideco.ru/company/news</a>, указав свой e-mail [%%FEmail%%] и нажав кнопку отписаться</p>
            </columns>
          </row>
          <spacer size="15"></spacer>
        </container>



      </center>
    </td>
  </tr>
</table>
</body>
</html>